* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

h1 {
    color:white;
}

body {

    padding: 0.2rem;
    /* border: yellow 2px solid; */
    min-height: 100vh;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    }

.wrap {

    /* border: pink 2px solid; */
    padding: 0.2rem;
    min-height: 100vh;

}

.headerwrap {
    /* border: green 2px solid; */
    padding: 0.1rem;
}

.frstcontent {

    height: 5rem;
    /* border: blue 2px solid; */

}

.mainwrap {

    /* border: greenyellow 2px solid; */
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    max-height: 100%;

}

.login {

    border: pink 2px solid;
    padding: 0.2rem;
    border-radius: 1rem;
    padding: 2rem 3rem;
    height: 100%;

}


.btn {

    padding: .8rem 2rem;
}

.footerwrap {
    
    /* border: white 2px solid; */
    height: 5rem;
}

.firstlabel {

    color:white;
}

.secondlabel {

    color:white;
}

.thirdlabel {

    color:white;
}

.frthlabel {

    color:white;
}

.fifthlabel {
    color:white;
    margin-right: .5rem;
}

.sixthlabel {

    color:white;
}

.first  {

    width: 15rem;
    height: 2rem;
    display: flex;
    text-align: center;
    margin-top: .5rem;

}

.second  {

    width: 15rem;
    height: 2rem;
    display: flex;
    text-align: center;
    margin-top: .5rem;
    
}

.third  {

    width: 30rem;
    height: 2rem;
    display: flex;
    text-align: center;
    margin-top: .5rem;
    
}

.forth  {

    width: 10rem;
    height: 2rem;
    display: flex;
    text-align: center;
    margin-top: .5rem;
    
}

.fifth  {

    width: 5rem;
    height: 2rem;
    display: flex;
    text-align: center;
    margin-top: .5rem;


    
}

.sixth  {

    width: 8rem;
    height: 2rem;
    display: flex;
    text-align: center;
    margin-top: .5rem;

    
}

.submit {

    width: 6rem;    
    height: 3rem;
    background-color: #319E4D;
    border-radius: 0.5rem;

}

.reset {
    width: 3rem;
    height: 1.5rem;
    background-color: #F5DB4A;
    border-radius: .3rem;
}